<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scope & Digest</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="learndigest">
    <div ng-controller="playgroundCtrl as vm">
        {{vm.userProperties.force}}<br>  
        <div ng-bind="vm.userProperties.force"></div>         
        <div ng-if="vm.enableForceEdit">
            <input  type="text" ng-model="vm.userProperties.force">
        </div> 
        <button type="button" ng-click="vm.resetForce()">Reset</button>             
    </div><!--playgroundCtrl-->
</body>
</html>